*{
  font-family: Raleway;
  font-weight: 300;
}
h1,h2,h3,p{
  margin: 0;
  padding: 0;
}
html,body{
  scroll-behavior: smooth;
  margin: 0;
  padding: auto;
}
nav{
  transition: 500ms;
  background-color: #F2855C;
  margin: 0;
  height: auto;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.navList{
  transition: 500ms;
  margin: 0;
  padding: 0;
  height: auto;
  list-style-type: none;
  text-decoration: none;
}
.navItem{
  transition: 500ms;
  height: auto;
  display: inline;
  
}
.navItem a{
  font-size: 1rem;
  display: inline-block;
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 24px 64px;
  transition: 500ms;
}
i{
  color: white;
}
.navItem a:hover{
  
}
.navbar .icon{
  display: none;
}
.fullLimit{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.hero{
  width:100%;
  height:100%;
  text-align: center;
  top:0px;
  left:0px;
  z-index:-1;
  padding: 30vh 0 0 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-image:url('img/heroImage.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 0% 33%;
  color: white;
}
.hero h1{
  z-index: 1;
  margin: 0 auto 1rem auto;
  font-family: Questa Grande;
  font-size: 4rem;
}
.hero h3{
  z-index: 1;
  margin: 0 auto;
  font-weight: 300;
  font-size:2rem;
}
.arrow {
  margin-top: 10rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.contactBlock{
  color: white;
  background-color: #F2855C;
  width: 100%;
  height: auto;
}
#contactRow{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}
.contactSection{
  padding: 0 6rem 60px 6rem;
}
.contactBlock h1{
  font-family: Questa Grande;
  font-size: 4rem;
  padding: 30px 0 30px 0;
  text-align: center;
}
.contactBlock p{
  text-align: center;
  font-size: 1.5rem;
}
#contactOne{

}
#contactTwo{
  
}
#contentStart{
}
.infoBlock{
  overflow: hidden;
  height: auto;
  width: auto;
  margin: 0;
  padding: 3.75em 8.75em;
  display: grid;
  grid-template-columns: 50% 50%;
}
.info{

}
.info h3{
  font-family: Questa Grande;
  font-size: 4rem;
  margin: 0 0 1rem 0;
}
.info p{
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
}
.info img{
  max-width: 80%;
  max-height: 100%;
  min-height: 80%;
  display: block;
}
#imgOne{
  margin: 0 0 0 auto;
}
#imgTwo{
  margin: 0 auto 0 0;
}
#infoOne{
  text-align:left ;
}
#infoOne img{
  text-align: right;
}
#infoTwo{
  text-align:right ;
}
.button{
  border-radius: 10px;
  background-color: #F2855C;
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem 2rem;
  margin: 0 0 1rem 0;
  display: inline-block;
  color:white;
}
#firstButton{
  margin-right: 3.75rem;
}
@media only screen and (max-width: 1200px) {
  .infoBlock{
    grid-template-columns: 100%;
  }
  #contactRow{
    grid-template-columns: 100%;
  }
  .infoBlock{
    
    padding: 1rem 2rem;
    text-align: center;
  }
  #firstButton{
    margin: 0 auto 1rem auto;
  }
  .button{
    margin: 0 auto 1rem auto;
  }
  #imgOne{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }
  #imgTwo{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }
  #infoTwo{
    text-align: center;
  }
  .contactSection{
    padding: 0 2rem 2rem 2rem;
  }
  .navbar{
    position: absolute;
    top: 0;
    left: 0;
  }
  .navbar a.icon{
    display: block;
    float: right;
    padding: 1rem 2rem 1rem 0;
    font-size: 2rem;
  }
  .navbar .responsive .icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar .navItem a{display: none;}
  .navbar.responsive .navItem a{
    font-size: 1.5rem ;
    float: none;
    display: block;
    text-align: center;
  } 
  .navItem{
    width: 100%;
  }
}